.light-mode {
    background-color: #dab675; /* Light brown */
    color: rgb(16, 16, 16);
}

.dark-mode {
    background-color: rgb(16, 16, 16);
    color: #fff;
}s

h1, nav a, html, body {
    color: inherit;
}

/* Toggle button styles based on day/night mode */
.light-mode #toggle {
    background-color: #333; /* Dark background during the day */
    color: #fff;            /* Light text during the day */
}

.dark-mode #toggle {
    background-color: #f5deb3; /* Light background during the night */
    color: #333;               /* Dark text during the night */
}

.navigation {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.light-mode #prev-day {
    background-color: #333; /* Dark background during the day */
    color: #fff;            /* Light text during the day */
}

.dark-mode #prev-day {
    background-color: #f5deb3; /* Light background during the night */
    color: #333;               /* Dark text during the night */
}

.light-mode #next-day {
    background-color: #333; /* Dark background during the day */
    color: #fff;            /* Light text during the day */
}

.dark-mode #next-day {
    background-color: #f5deb3; /* Light background during the night */
    color: #333;               /* Dark text during the night */
}

.dark-mode #orchard-title {
    color: #fff;
}

.light-mode #orchard-title {
    color: #000;
}

.nav-button {
    padding: 5px 15px;
    cursor: pointer;
    font-family: "Cormorant Garamond", sans-serif;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin-top: 40px; /* Increased space for the header */
    margin-bottom: 90px; /* Increased space for the footer */
    margin-left: 5%;
    margin-right: 5%;
    align-items: center; /* Ensure that all images are aligned to the center */
}

.gallery img {
    flex-grow: 1;
    object-fit: cover;
    height: 200px;
    margin-left: -40px;
    margin-right: -40px;
    border: 3px solid #fff;
    border-radius: 5px;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    transform-origin: center;
    transform: scale(0.9) rotate(var(--rotation));
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
}

.gallery img.horizontal {
    margin-top: -10px;
    margin-bottom: -10px;
    width: auto;
    height: 200px; /* You can adjust this based on your preference */
}

.gallery img.vertical {
    margin-top: -100px;
    margin-bottom: -60px;
    height: auto;
    width: 150px; /* You can adjust this based on your preference */
}

.gallery img.random-height {
    grid-row: span 2;
    grid-column: span 2;
    max-height: 220px; /* Adjust as needed */
    justify-self: center;
    height: calc(100px + (200 * Math.random()))px; /* Random height between 100px and 300px */
}


#fullscreen-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    opacity: 0;
    transition: opacity 0.3s ease;
}

#fullscreen-modal.active {
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: center;
}

.fullscreen-content {
    position: relative;
    max-width: 75%; /* Slightly increased from 90% */
    max-height: 65%; /* Slightly increased from 90% */
    display: flex;
    align-items: center;
    justify-content: center;
}

#fullscreen-image {
    max-width: 100%;
    max-height: 65%;
    object-fit: contain; /* Ensures entire image is visible while maintaining aspect ratio */
    object-position: center; /* Center the image */
    width: auto; /* Allow width to adjust */
    height: auto; /* Allow height to adjust */
}

.fullscreen-close,
.fullscreen-nav {
    position: absolute;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.fullscreen-close {
    top: 10px;
    right: 10px;
}

.fullscreen-close:hover,
.fullscreen-nav:hover {
    background-color: rgba(255,255,255,0.2);
}

#prev-fullscreen {
    left: 10px;
}

#next-fullscreen {
    right: 10px;
}

.fullscreen-nav {
    font-size: 1.5rem;
}

/* Specific styles for vertical and horizontal images in fullscreen */
#fullscreen-image.vertical-fullscreen {
    max-width: 50%; /* Adjust width for vertical images */
    max-height: 95%; 
    width: auto;
    height: auto;
}

#fullscreen-image.horizontal-fullscreen {
    max-height: 50%;
    max-width: 95%;
    width: auto;
    height: auto;
}